.container {
  height: calc(100vh - 52px);

  .header {
    height: 52px;
    line-height: 52px;
    padding: 0 24px;
    background-color: #efefef;

    .title {
      font-size: 24px;
      font-weight: 500;
      margin-right: 24px;
    }
  }

  .menu {
    background-color: aquamarine;
  }
}
